<div class="container">
  <h3><%= t('page.edit') %></h3>

  <%= render "form", job: @job %>

  <br>

  <div>
    <%= link_to t('page.target')+t('page.jobs'), @job %> |
    <%= link_to t('page.jobs_list'), jobs_path %>
  </div>
</div>