<div class="container">
  <h5><%= link_to @job.user.name, user_path(@job.user) %></h5>
  <%= render @job %>

  <div>
    <%= link_to "編集", edit_job_path(@job), class:"btn btn-primary mr-3" %>
  </div>
</div>
<br>
<div class="container">
  <%= render 'comments/form', job: @job %>
</div>